.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: auto;
    transform: translate(-50%, -50%);
}

h1 {
    position: relative;
    text-align: center;
    vertical-align: baseline;
    font-weight: 300;
    font-size: 30px;
}

h3 {
    position: relative;
    text-align: center;
    vertical-align: baseline;
    font-weight: 300;
    font-size: 20px;
}

.text-lightblue {
    color: aqua;
}
