body {
    background-image: url(/assets/Root/background-img.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px !important;
    height: auto;
    transform: translate(-50%, -50%);
    background-color: #333333;
    padding-top: 50px;
    padding-bottom: 30px;
    border-radius: 5px;
}

.brand-logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
    height: auto;
}

.form {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    margin-bottom: 10px;
}

.form-item {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80% !important;
    font-size: 17px;
    color: white !important;
    margin-bottom: 10px;
}

.buttons {
    position: relative;
    width: 100% !important;
    left: 10% !important;
}

.button {
    width: 180px !important;
    color: white !important;
    display: inline-block !important;
}

.form-submit {
    background-color: rgb(36, 138, 255) !important;
}

.registerBtn {
    float: right;
    right: 20% !important;
}

@media screen and (max-width: 500px) {
    .container {
        width: 100% !important;
        height: 100% !important;
    }

    .form-item {
        width: 80%/10;
    }

    .center-content {
        position: relative;
        top: 50% !important;
        transform: translateY(-50%);
    }

    .button {
        width: 135px !important;
    }
}

@media screen and (max-height: 320px) {
    .container {
        width: 100% !important;
        height: 100% !important;
    }

    .brand-logo {
        display: none !important;
    }

    .form {
        position: relative;
        margin-top: -10px !important;
        margin-bottom: 0px !important;
    }

    .center-content {
        position: relative;
        top: 50% !important;
        transform: translateY(-50%);
    }
}