@font-face {
  font-family: TruenoUltralight;
  src: url("https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/TruenoUltralight-DKax.otf");
}

@font-face {
  font-family: TruenoUltralightItalic;
  src: url("/https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/TruenoUltralightItalic-AYmD.otf");
}

@font-face {
  font-family: TruenoLight;
  src: url("https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/TruenoLight-E2pg.otf");
}

@font-face {
  font-family: TruenoLightItalic;
  src: url("https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/TruenoLightItalic-OoMo.otf");
}

@font-face {
  font-family: TruenoRegular;
  src: url("https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/Trueno-wml2.otf");
}

@font-face {
  font-family: TruenoRegularItalic;
  src: url("https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/Trueno-75PE.otf");
}

@font-face {
  font-family: TruenoSemibold;
  src: url("https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/TruenoSemibold-Z9yl.otf");
}

@font-face {
  font-family: TruenoSemiboldItalic;
  src: url("https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/TruenoSemiboldItalic-35Zy.otf");
}

@font-face {
  font-family: TruenoBold;
  src: url("https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/TruenoBold-XYE2.otf");
}

@font-face {
  font-family: TruenoBoldItalic;
  src: url("https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/TruenoBoldItalic-g4B3.otf");
}

@font-face {
  font-family: TruenoExtrabold;
  src: url("https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/TruenoExtrabold-05gr.otf");
}

@font-face {
  font-family: TruenoExtraboldItalic;
  src: url("https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/TruenoExtraboldItalic-eg1O.otf");
}

@font-face {
  font-family: TruenoBlack;
  src: url("https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/TruenoBlack-mBYV.otf");
}

@font-face {
  font-family: TruenoBlackItalic;
  src: url("https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/TruenoBlackItalic-dXnl.otf");
}

@font-face {
  font-family: TruenoBlackOutline;
  src: url("https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/TruenoBlackOutline-P43P.otf");
}

@font-face {
  font-family: TruenoBlackOutlineItalic;
  src: url("https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/TruenoBlackOutlineItalic-LLEy.otf");
}

@font-face {
  font-family: TruenoBoldOutline;
  src: url("https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/TruenoBoldOutline-oYMq.otf");
}

@font-face {
  font-family: TruenoBoldOutlineItalic;
  src: url("https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/TruenoBoldOutlineItalic-454Y.otf");
}

@font-face {
  font-family: TruenoExtraboldOutline;
  src: url("https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/TruenoExtraboldOutline-W8J9.otf");
}

@font-face {
  font-family: TruenoExtraboldOutlineItalic;
  src: url("https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/TruenoExtraboldOutlineItalic-adaJ.otf");
}

@font-face {
  font-family: TruenoUltrablack;
  src: url("https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/TruenoUltrablack-xdnV.otf");
}

@font-face {
  font-family: TruenoUltrablackItalic;
  src: url("https://res.cloudinary.com/mechachat/raw/upload/v1670290399/MechaChat%20Solutions/assets/fonts/TruenoUltrablackItalic-prwv.otf");
}

html[data-theme="grey"] {
  --app-scrollbar-thumb: #5e5e5e;
  --app-scrollbar-track: #5e5e5e50;

  --app-topbar-background: #3a3a3a73;
  --app-topbar-border: #5e5e5e;
  --app-topbar-hover-background: #252525;
  --app-topbar-hover-border: #5e5e5e;
  --app-topbar-custom-message-text: #aaaaaa;

  --app-sidebar-background: #3a3a3a73;
  --app-sidebar-border: #5e5e5e;
  --app-sidebar-shadow: #5e5e5e;

  --app-user-profile-dropdown-background: #252525;
  --app-user-profile-dropdown-shadow: #5e5e5e;

  --app-tooltip-background: #303030d3;
  --app-tooltip-text: #808080;

  --app-community-icon-background: #474747;

  --app-change-status-dialog-background: #252525;
  --app-change-status-dialog-border: #5e5e5e;
  --app-change-status-dialog-text: #808080;
  --app-change-status-dialog-border: #808080;

  --app-select-panel-background: #181818;

  --app-settings-screen-backdrop: #252525;
  --app-settings-screen-border: #5e5e5e;
  --app-settings-screen-tabs-ink-bar: #5e5e5e;
}

html[data-theme="blue"] {
  --app-scrollbar-thumb: #004bad;
  --app-scrollbar-track: #004bad50;

  --app-topbar-background: #002b7a73;
  --app-topbar-border: #004bad;
  --app-topbar-hover-background: #001f4d;
  --app-topbar-hover-border: #00266e;
  --app-topbar-custom-message-text: #00a2ff;

  --app-sidebar-background: #002b7a73;
  --app-sidebar-border: #004bad;
  --app-sidebar-shadow: #004bad;

  --app-user-profile-dropdown-background: #001f4d;
  --app-user-profile-dropdown-shadow: #0066ff;

  --app-tooltip-background: #00397ad3;
  --app-tooltip-text: #66baff;

  --app-community-icon-background: #004bac;

  --app-change-status-dialog-background: #00317af3;
  --app-change-status-dialog-border: #004bad;
  --app-change-status-dialog-text: #66baff;
  --app-change-status-dialog-border: #66baff;

  --app-select-panel-background: #00306e;

  --app-settings-screen-backdrop: #00163ff8;
  --app-settings-screen-border: #004bad;
  --app-settings-screen-tabs-ink-bar: #004bad;
}

html[data-theme="green"] {
  --app-scrollbar-thumb: #00ad09;
  --app-scrollbar-track: #00ad0950;

  --app-topbar-background: #005f0073;
  --app-topbar-border: #00ad09;
  --app-topbar-hover-background: #004d04;
  --app-topbar-hover-border: #046e00;
  --app-topbar-custom-message-text: #00ff00;

  --app-sidebar-background: #005f0073;
  --app-sidebar-border: #00ad09;
  --app-sidebar-shadow: #00ad09;

  --app-user-profile-dropdown-background: #004d00;
  --app-user-profile-dropdown-shadow: #15ff00;

  --app-tooltip-background: #0a7a00d3;
  --app-tooltip-text: #73ff66;

  --app-community-icon-background: #14ac00;

  --app-change-status-dialog-background: #0b5c00f3;
  --app-change-status-dialog-border: #00ad09;
  --app-change-status-dialog-text: #73ff66;
  --app-change-status-dialog-border: #73ff66;

  --app-select-panel-background: #024700;

  --app-settings-screen-backdrop: #032900f8;
  --app-settings-screen-border: #00ad09;
  --app-settings-screen-tabs-ink-bar: #00ad09;
}

html[data-theme="orange"] {
  --app-scrollbar-thumb: #ad6800;
  --app-scrollbar-track: #ad680050;

  --app-topbar-background: #7a490073;
  --app-topbar-border: #ad6800;
  --app-topbar-hover-background: #4d2d00;
  --app-topbar-hover-border: #6e4000;
  --app-topbar-custom-message-text: #ff9900;

  --app-sidebar-background: #7a490073;
  --app-sidebar-border: #ad6800;
  --app-sidebar-shadow: #ad6800;

  --app-user-profile-dropdown-background: #4d2d00;
  --app-user-profile-dropdown-shadow: #ff9500;

  --app-tooltip-background: #7a4900d3;
  --app-tooltip-text: #ffc266;

  --app-community-icon-background: #ac6700;

  --app-change-status-dialog-background: #7a4900f3;
  --app-change-status-dialog-border: #ad6800;
  --app-change-status-dialog-text: #ffc266;
  --app-change-status-dialog-border: #ffc266;

  --app-select-panel-background: #6e4200;

  --app-settings-screen-backdrop: #3f2500f8;
  --app-settings-screen-border: #ad6800;
  --app-settings-screen-tabs-ink-bar: #ad6800;
}

html[data-theme="purple"] {
  --app-scrollbar-thumb: #5f00ad;
  --app-scrollbar-track: #5f00ad50;

  --app-topbar-background: #4d007a73;
  --app-topbar-border: #5f00ad;
  --app-topbar-hover-background: #2e004d;
  --app-topbar-hover-border: #42006e;
  --app-topbar-custom-message-text: #cb71ff;

  --app-sidebar-background: #4d007a73;
  --app-sidebar-border: #5f00ad;
  --app-sidebar-shadow: #5f00ad;

  --app-user-profile-dropdown-background: #31004d;
  --app-user-profile-dropdown-shadow: #9900ff;

  --app-tooltip-background: #4d007ad3;
  --app-tooltip-text: #c266ff;

  --app-community-icon-background: #6700ac;

  --app-change-status-dialog-background: #53007af3;
  --app-change-status-dialog-border: #5f00ad;
  --app-change-status-dialog-text: #c266ff;
  --app-change-status-dialog-border: #c266ff;

  --app-select-panel-background: #46006e;

  --app-settings-screen-backdrop: #2d003ff8;
  --app-settings-screen-border: #5f00ad;
  --app-settings-screen-tabs-ink-bar: #5f00ad;
}

html[data-theme="red"] {
  --app-scrollbar-thumb: #ad0000;
  --app-scrollbar-track: #ad000050;

  --app-topbar-background: #7a000073;
  --app-topbar-border: #ad0000;
  --app-topbar-hover-background: #4d0000;
  --app-topbar-hover-border: #6e0000;
  --app-topbar-custom-message-text: #ff8c8c;

  --app-sidebar-background: #7a000073;
  --app-sidebar-border: #ad0000;
  --app-sidebar-shadow: #ad0000;

  --app-user-profile-dropdown-background: #4d0000;
  --app-user-profile-dropdown-shadow: #ff0000;

  --app-tooltip-background: #7a0000d3;
  --app-tooltip-text: #ff6666;

  --app-community-icon-background: #ac0000;

  --app-change-status-dialog-background: #7a0000f3;
  --app-change-status-dialog-border: #ad0000;
  --app-change-status-dialog-text: #ff6666;
  --app-change-status-dialog-border: #ff6666;

  --app-select-panel-background: #6e0000;

  --app-settings-screen-backdrop: #3f0000f8;
  --app-settings-screen-border: #ad0000;
  --app-settings-screen-tabs-ink-bar: #ad0000;
}

html[data-theme="yellow"] {
  --app-scrollbar-thumb: #ad9300;
  --app-scrollbar-track: #ad930050;

  --app-topbar-background: #7a680073;
  --app-topbar-border: #ad9300;
  --app-topbar-hover-background: #4d4800;
  --app-topbar-hover-border: #6e6300;
  --app-topbar-custom-message-text: #fff78c;

  --app-sidebar-background: #7a680073;
  --app-sidebar-border: #ad9300;
  --app-sidebar-shadow: #ad9300;

  --app-user-profile-dropdown-background: #4d4100;
  --app-user-profile-dropdown-shadow: #fffb00;

  --app-tooltip-background: #7a6400d3;
  --app-tooltip-text: #fffc66;

  --app-community-icon-background: #ac9b00;

  --app-change-status-dialog-background: #7a6800f3;
  --app-change-status-dialog-border: #ad9300;
  --app-change-status-dialog-text: #fffc66;
  --app-change-status-dialog-border: #fffc66;

  --app-select-panel-background: #6e6700;

  --app-settings-screen-backdrop: #3f3600f8;
  --app-settings-screen-border: #ad9300;
  --app-settings-screen-tabs-ink-bar: #ad9300;
}

:root {
  --avatar-ring-color: #747f8d;

  --app-scrollbar-thumb: #5e5e5e;
  --app-scrollbar-track: #5e5e5e50;

  --app-topbar-background: #3a3a3a73;
  --app-topbar-border: #5e5e5e;
  --app-topbar-hover-background: #252525;
  --app-topbar-hover-border: #5e5e5e;
  --app-topbar-custom-message-text: #aaaaaa;

  --app-sidebar-background: #3a3a3a73;
  --app-sidebar-border: #5e5e5e;
  --app-sidebar-shadow: #5e5e5e;

  --app-user-profile-dropdown-background: #252525;
  --app-user-profile-dropdown-shadow: #5e5e5e;

  --app-tooltip-background: #303030d3;
  --app-tooltip-text: #808080;

  --app-community-icon-background: #474747;

  --app-change-status-dialog-background: #252525;
  --app-change-status-dialog-border: #5e5e5e;
  --app-change-status-dialog-text: #808080;
  --app-change-status-dialog-border: #808080;

  --app-select-panel-background: #181818;

  --app-settings-screen-backdrop: #252525;
  --app-settings-screen-border: #5e5e5e;
  --app-settings-screen-tabs-ink-bar: #5e5e5e;
}

html,
body {
  height: 100%;
}

* {
  -webkit-overflow-scrolling: touch;
  font-family: TruenoLight;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: var(--app-tooltip-text) !important;
}

.mat-badge-content {
  width: fit-content !important;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  font-size: 10px;
  font-weight: normal;
  border-radius: 5px;
}

body {
  position: fixed;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #333333;
  color: white;
  font-family: TruenoLight;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 100000000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}

.toast-container .ngx-toastr {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.toast-container .ngx-toastr:hover {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.selectable {
  pointer-events: all;
  -webkit-touch-callout: none;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

img {
  pointer-events: none;
}

.my-avatar-img-40 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--avatar-ring-color);
  cursor: pointer !important;
}

.my-avatar-img-40-mood {
  position: absolute;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  font-size: 18px;
  text-align: center;
  left: 30px;
  bottom: 8px;
  cursor: pointer !important;
}

.my-avatar-img-40-mood-icon {
  position: relative;
  left: -3.4px;
  bottom: 1.4px;
  font-size: 17.3px;
}

.community-img-40 {
  border-radius: 15%;
  width: 50px;
  height: 50px;
  transition: border-radius 0.1s ease, background-color 0.15s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--app-community-icon-background);
  text-align: center;
  overflow: hidden;
  user-select: none;
  color: #dcddde;
  font-family: TruenoBold !important;
  box-sizing: border-box;
}

.community-action-icon {
  border-radius: 15%;
  width: 50px;
  height: 50px;
  transition: border-radius 0.1s ease, background-color 0.15s ease;
  display: flex;
  justify-content: center;
  font-size: 30px;
  align-items: center;
  background: var(--app-community-icon-background);
  text-align: center;
  overflow: hidden;
  user-select: none;
  color: #dcddde;
  box-sizing: border-box;
}

.mat-tooltip {
  background-color: var(--app-tooltip-background) !important;
  font-size: 13px !important;
  font-family: TruenoLight !important;
}

.community .community-img-40 {
  color: white;
  border: 1px solid transparent;
}

.community[ring-data="active"] .community-img-40 {
  border: 1px solid var(--app-tooltip-text);
}

.community[ring-data="unread"] .community-img-40 {
  border: 1px solid rgb(202, 202, 202);
}

.community[ring-data="mentioned"] .community-img-40 {
  border: 1px solid rgb(233, 40, 40);
}

.community-action-icon:hover,
.community:hover .community-img-40 {
  color: var(--app-tooltip-text);
  border: 1px solid var(--app-tooltip-text);
}

.material-icons-outlined.active {
  color: var(--app-tooltip-text);
}

.community-container {
  background-color: transparent;
}

.community-container-separator {
  position: static;
  padding: 0.25rem;
  border: none;
}

.community-container-separator hr {
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
  margin-left: -50px !important;
  width: 100%;
  border: none;
}

*:not(.isTextBox) {
  cursor: default !important;
  cursor: url("https://res.cloudinary.com/mechachat/image/upload/v1670291009/MechaChat%20Solutions/assets/cursors/mcPointer.ico"),
    default !important;
}

.mat-form-field-flex *:has(.mat-input-element),
.isTextBox {
  cursor: text !important;
  cursor: url("https://res.cloudinary.com/mechachat/image/upload/v1670291009/MechaChat%20Solutions/assets/cursors/mcText.ico")
      5 15,
    text !important;
}

.mat-form-field-label {
  color: var(--app-change-status-dialog-text) !important;
  outline: var(--app-change-status-dialog-border) !important;
  font-family: TruenoRegular !important;
}

.mat-input-element {
  line-height: 1 !important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline,
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: var(--app-change-status-dialog-border) !important;
}

.mat-form-field-appearance-outline:hover .mat-form-field-outline,
.mat-form-field-appearance-outline:hover .mat-form-field-outline-thick {
  color: var(--app-change-status-dialog-border) !important;
}

.mat-selected .mat-option-text {
  color: var(--app-change-status-dialog-text) !important;
  font-family: TruenoRegular !important;
}

.mat-ink-bar {
  background-color: var(--app-settings-screen-tabs-ink-bar) !important;
}

.mat-tab-header,
.mat-tab-nav-bar {
  border-color: var(--app-settings-screen-tabs-ink-bar) !important;
}

app-root.is_browser .settings-screen {
  background: var(--app-settings-screen-backdrop);
  position: fixed !important;
  z-index: 1;
  opacity: 1;
  width: 100%;
  height: calc(100vh);
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  top: 0;
  left: 0;
  font-family: TruenoRegular !important;
}

app-root.is_windows .settings-screen {
  background: var(--app-settings-screen-backdrop);
  position: fixed !important;
  z-index: 1;
  opacity: 1;
  width: 100%;
  height: calc(100vh - 25px);
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  top: 25px;
  left: 0;
  font-family: TruenoRegular !important;
}

app-root.is_macos .settings-screen {
  background: var(--app-settings-screen-backdrop);
  position: fixed !important;
  z-index: 1;
  opacity: 1;
  width: 100%;
  height: calc(100vh - 25px);
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  top: 25px;
  left: 0;
  font-family: TruenoRegular !important;
}

.cdk-global-overlay-wrapper,
.change-status-modal {
  position: fixed !important;
}

.mat-dialog-container {
  background-color: var(--app-change-status-dialog-background);
  border: solid 1px var(--app-change-status-dialog-border);
}

.mat-select-panel {
  background-color: var(--app-select-panel-background);
  border: transparent;
  box-shadow: none;
}

.mat-menu-content .mat-menu-item:not(:last-child) {
  margin-bottom: 8px !important;
}

.mat-menu-content .mat-divider {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.mat-menu-content:not(:empty) {
  padding-left: 7px;
  padding-right: 7px;
}

.dialog-input {
  width: 450px;
  font-family: TruenoRegular !important;
}

.dialog-actions {
  float: right;
  font-family: TruenoRegular !important;
}
